<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>おし活カレンダー</title>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css">

</head>

<body>
  <div id="calendar"></div>
  <!--モーダル-->
  <div id="overlay"></div>
  <div id="modal">
    <p id="selected-date"></p>
    <textarea id="title" placeholder="タイトルを入力してください" cols="30"></textarea><br>
    <textarea id="memory-text" rows="5" cols="30" placeholder="メッセージを入力してください"></textarea><br>
    <div id="preview-img"></div>
    <button id="save">保存</button>
    <button id="cancel">キャンセル</button>
    <input type="file" id="upload" name="files" multiple>

  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let event = null;
      const calendarEl = document.getElementById("calendar");
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'ja',
        dateClick: function (info) {
          const eventExisting=calendar.getEvents().find(e=>e.startStr===info.dateStr)
          if(eventExisting){
            return
          }
          event=null
          document.getElementById("selected-date").textContent = info.dateStr;
          document.getElementById("modal").style.display = "block";
          document.getElementById("overlay").style.display = "block";



        },
        eventClick: function (info) {
          event = info.event;
          document.getElementById("selected-date").textContent = event.startStr;
          document.getElementById("title").value = event.title;
          document.getElementById("memory-text").value = event.extendedProps.memory || "";
          showAllImages(event.extendedProps.imageUrl || []);

          document.getElementById("modal").style.display = "block";
          document.getElementById("overlay").style.display = "block";
        }
      })
      fetch("/api/memory")
        .then(res => res.json())
        .then(events => {
          events.forEach(ev => {
            calendar.addEvent({
              title: ev.title,
              start: ev.date,
              allDay: true,
              extendedProps: {
                memory: ev.memory,
                imageUrl: ev.imageUrl,
                id:ev.id

              }
            });
          });
        });



      document.getElementById("save").addEventListener("click", async () => {
        const title = document.getElementById("title").value
        const date = document.getElementById("selected-date").textContent;
        const memory = document.getElementById("memory-text").value
        const files = document.getElementById('upload').files;
        const formData = new FormData();
        formData.append("title", title)
        formData.append("date", date)
        formData.append("memory", memory)
        if (files) {
          for (let i = 0; i < files.length; i++) {
            formData.append("files", files[i])
          }
        }
        const existingEvent = calendar.getEvents().find(e => e.startStr === date);
        // 既存のイベントがある場合は更新、ない場合は新規作成
        let response
        if (existingEvent) {
          response = await fetch('/api/memory', {
            method: "put",
            body: formData
          })
        }
        else {
          response = await fetch("/api/memory", {
            method: "post",
            body: formData
          })
        }
        const result = await response.json();
        if (response.ok) {
          alert("登録できました")
          if (existingEvent) {
            existingEvent.setProp("title", title);
            existingEvent.setStart(date);
            existingEvent.setExtendedProp("memory", memory);
            existingEvent.setExtendedProp("imageUrl", result.imageUrl);
            existingEvent.setExtendedProp("id", result.id);


          } else {
            calendar.addEvent({
              title: title,
              start: date,
              allDay: true,
              extendedProps: {
                id:result.id,
                memory: memory,
                imageUrl: result.imageUrl
              }
            })
          }
          showAllImages(result.imageUrl)
          closeModal();
        } else {
          alert("登録できませんでした")
          closeModal();
        }
      })
      document.getElementById("cancel").addEventListener("click", () => {
        closeModal();
      })
      function closeModal() {
        document.getElementById("modal").style.display = "none"
        document.getElementById("overlay").style.display = "none"
        document.getElementById("title").value = "";
        document.getElementById("memory-text").value = "";
        document.getElementById("upload").value = "";
        document.getElementById("preview-img").innerHTML = "";

      }
      // 複数画像を表示する関数を追加
      function showAllImages(urls) {
        const container = document.getElementById("preview-img");
        container.innerHTML = ""; // 画像をリセット

        if (!urls || urls.length === 0) {
          container.textContent = "画像はありません";
          return;
        }

        urls.forEach(url => {
          const img = document.createElement("img");
          img.src = url;
          container.appendChild(img);
        });
      }


      calendar.render();
    })



  </script>
</body>

</html>